{% extends "base.html" %}

{% block title %}Have A Bit Of [...] Admin{% endblock %}

{% block content %}
<h2>Add Quote</h2>
<div id="left">
<p><form action="/admin/add/quote" method="post" id="addquoteform">
    <p>Edit (ID): <input type="text" name="quote_id" size="25" /></p>
    <p>Author: <select name="author">
    {% for author in authors %}
        <option value="{{ author.slug }}">{{ author.name }}</option>
    {% endfor %}
    </select></p>
    <p>Categories:
    {% for category in categories %}
        <input type="checkbox" name="category" value="{{ category.slug }}">{{ category.name }}</input>
    {% endfor %}
    <p>Name: <input type="text" name="name" size="25" /></p>
    <p>Img: <input type="text" name="img_url" size="25" /></p>
    <p>Description: <input type="text" name="description" size="25" /></p>
    <p>Text: <textarea type="textarea" name="text" rows="15" cols="65"></textarea></p>
    <p>Html: <textarea type="textarea" name="html" rows="5" cols="65"></textarea></p>
    <p><input type="submit" value="Add" /></p>
</form></p>
</div>

<h2>Add Author</h2>
<div id="left">
<p><form action="/admin/add/author" method="post" id="addauthorform">
    <p>Name: <input type="text" name="name" size="25" /></p>
    <p>Slug: <input type="text" name="slug" size="25" /></p>
    <p>Description: <input type="text" name="description" size="25" /></p>
    <p>Img: <input type="text" name="img_url" size="25" /></p>
    <p>DoB (yyyy-mm-dd): <input type="text" name="date_birth" size="25" /></p>
    <p>DoD (yyyy-mm-dd): <input type="text" name="date_death" size="25" /></p>
    <p><input type="submit" value="Add" /></p>
</form></p>
</div>

<h2>Add Category</h2>
<div id="left">
<p><form action="/admin/add/category" method="post" id="addcategoryform">
    <p>Name: <input type="text" name="name" size="25" /></p>
    <p>Slug: <input type="text" name="slug" size="25" /></p>
    <p><input type="submit" value="Add" /></p>
</form></p>
</div>

<h2>Cache</h2>
<div id="left">
<p><form action="/admin/flush" method="post" id="flushcacheform">
    <p><input type="submit" value="Flush" /></p>
</form></p>
</div>
{% endblock %}
