{% extends "base.html" %}

{% block title %}About Have A Bit{% endblock %}

{% block content %}
<h1>About</h1>
<div id="left">
<h2>What is it?</h2>
<p>Have a Bit compiles the most profound, inspiring, insightful, controversial, and sometimes humorous quotations, images and video footage of the world's most esteemed scientists, philosophers, activists, and other freethinkers. Our mission is to share with you the thoughts of some of the greatest men and women who have walked this planet; people who dared contemplate the Universe's deepest questions, with little regard to the status quo or any retaliation from their peers, authority, or otherwise.</p>

<p>Have a Bit is not a quotations page, per se &mdash; a "Bit" of a person may be anything from a quote to images or video. We also do not try to gather as many quotes of possible &mdash; only the ones we think (as objectively as we can) are the most awe-inspiring, witty or true.</p>

<p>So, stay a while. Have a <a href="/random" title="Have a Bit of Random" rel="nofollow">Random Bit</a>.</p>
</div>
{% endblock %}
