<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Have a Bit{% endblock %}</title>
<meta name="robots" content="noodp, noydir" />
{% block meta %}<meta name="description" content="Have a Bit -- your inspirational quote source." />
<meta name="keywords" content="haveabitof, have a bit, have a bit of" />{% endblock %}
<meta property="fb:page_id" content="187949654568853" />
<meta property="og:site_name" content="Have a Bit"/>
<link rel="stylesheet" href="http://static.haveabit.com/style/hab27.css" type="text/css" media="screen, projection" />
{% comment %}<link rel="stylesheet" href="/style/habXX.css" type="text/css" media="screen, projection" />{% endcomment %}
<link rel="alternate" type="application/rss+xml" title="Have a Bit RSS Feed" href="http://feeds.haveabit.com/haveabit" />
<link rel="SHORTCUT ICON" href="http://static.haveabit.com/favicon.ico" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="http://static.haveabit.com/style/effects2.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-270876-28']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="container">
    <div id="header">
        {% block headline %}Have a Bit{% endblock %}
    </div>
    <div id="teaser">
        {% block teaser %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}<a href="/random" title="Have a Bit of Random" rel="nofollow">Random</a> | <a href="/list" title="List of Bits">List</a> | <a href="http://feeds.haveabit.com/haveabit" title="Have a Bit RSS Feed" rel="nofollow">Feed</a> | <a href="/about" title="About">About</a>{% endblock %}
    </div>
</div>
</body>
</html>
