{% extends "base.html" %}

{% block title %}Have a Bit{% endblock %}

{% block teaser %}
<div id="left">
<center><p>Be inspired by great people. Have a bit of...</p>
<h2><a href="/random" title="Have a Bit of Random" rel="nofollow">Random</a></h2>

<div id="authorlist">
{% for author in authors %}
<a href="/{{ author.slug }}" title="{{ author.name }} - {{ author.description }}" rel="nofollow"><img src="{{ author.img_url }}" width="150" height="200" class="imagedropshadow"></a>
{% endfor %}
</div>

{% comment %}
<div class="gallery vary">
{% for author in authors %}
<table>
    <tr><td><a href="/{{ author.slug }}" title="{{ author.description }}" rel="nofollow"><img src="{{ author.img_url }}" width="150" height="200" class="imagedropshadow"></a></td></tr>
    <tr><td class="caption">{{ author.name }}</td></tr>
</table>
{% endfor %}
</div>
{% endcomment %}

</center></div>
{% endblock %}

{% block content %}
<div id="left">
<p>Tips:</p>
<ul>
<li>Hover over a name to see a description</li>
<li>Get a random bit whenever you want; drag this link to your bookmarks toolbar: <a href="/random" title="Have a Bit of Random" rel="nofollow">Bit</a>. You can also drag specific people into your bookmarks.</li>
<li>Get new bits automatically via <a href="http://feedburner.google.com/fb/a/mailverify?uri=haveabit" title="Bits by Email" rel="nofollow">Email</a> or <a href="http://feeds.haveabit.com/haveabit" title="Have a Bit RSS Feed" rel="nofollow">RSS</a></li>
<li>Use hotkeys: <strong>r</strong> for a random bit, <strong>h</strong> to go to this page</li>
</ul>
</div>
{% endblock %}
