{% extends "base.html" %}

{% block title %}List of Bits{% endblock %}

{% block meta %}<meta name="description" content="List of bits on Have a Bit" />
<meta name="keywords" content="haveabit, have a bit, list" />{% endblock %}

{% block content %}
<h1>Bit List</h1>
<div id="left">
<ul>
{% for item in items %}
<li>{{ item.1 }}: <a href="/{{ item.0.author.slug }}/{{ item.2 }}" title="{{ item.0.name }}">{{ item.0.author.name }} &mdash; {{ item.0.name }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock %}
