{% extends "base.html" %}

{% block title %}{{ author.name }} - {{ quote_name }}{% endblock %}

{% block meta %}<meta name="description" content={{ meta_description }} />
<meta name="keywords" content={{ meta_keywords }} />
<link rel="canonical" href="{{ quote_url }}" />{% endblock %}

{% block headline %}Have a Bit of {{ author.name }}{% endblock %}

{% block teaser %}
{{ teaser }}
{% endblock %}

{% block content %}
{{ quote }}

{% if show_comments %}
<div id="comments">
{% comment %}<p><iframe src="http://www.facebook.com/plugins/like.php?href={{ quote_url }}&amp;layout=standard&amp;show_faces=false&amp;width=300&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:35px;" allowTransparency="true"></iframe></p>{% endcomment %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'haveabit';
    var disqus_identifier = '{{ quote_key }}';
    var disqus_url = '{{ quote_url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% if not show_comments %}<p><a href="?show_comments=1#comments" title="Show comments" rel="nofollow">Comments</a> | {% endif %}{% if next_quote %}<a href="{{ next_quote_id }}" title="{{ next_quote.name }}">More {{ author.name }}</a> | {% endif %}<a href="/random" title="Have a Bit of Random" rel="nofollow">Random</a> | <a href="/" title="Have a Bit">Back</a></p>
{% endblock %}
