{% extends "base.html" %}

{% block title %}{{ quote.name }} - {{ author.name }}{% endblock %}

{% block meta %}<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />{% endblock %}

{% block headline %}Have a Bit of {{ author.name }}{% endblock %}

{% block content %}
{% if quote.img_url %}
<img src="{{ quote.img_url }}" title="{{ quote.name }}" alt="{{ quote.name }}" />
{% else %}{% if quote.vid_url %}
Video
{% else %}{% if author.img_url %}
<img src="{{ author.img_url }}" title="{{ author.name }}" alt="{{ author.name }}" />
{% endif %}{% endif %}{% endif %}

<br /><br />

<h1>{{ quote.name }}</h1>
{% if quote.description %}<p><em>{{ quote.description }}</em></p>{% endif %}
<div id="left">
<div id="quote">
<div>
{{ quote.text|linebreaks }}
<br />
</div>
</div>
</div>
<div id="right">
<p>&mdash; <strong>{{ author.name }}</strong>{{ lifestr }}<br />
{{ author.description }}</p>
{% endblock %}
</div>

{% block footer %}
<p><a href="/{{ author.slug }}" title="Have a Bit of {{ author.name }}">More {{ author.name }}</a> | <a href="/random" title="Have a Bit of Random">Random</a> | <a href="/" title="Have a Bit">Back</a></p>
{% endblock %}

